@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
